body {
  padding: 0;
  margin: 0;
}
.container {
  min-height: 100vh;
  width: 100%;
  background-color:white;
  
}
.search-bar {
  position: absolute;
  left: 500px;
  top: 10px;
  width: 482px;
  height: 40px;
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
  font-size: 20px;
  border:2px solid rgb(211, 211, 211);
  font-family: 'Roboto', sans-serif;
}
.btn {
  position: absolute;
  top: 10px;
  left: 988px;
  height: 45px;
  width: 64px;
  background-color: rgb(248, 248, 248);
  border:2px solid rgb(211, 211, 211);
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  text-align: center;
  cursor: pointer;
}
.fa-search {
  font-size: 20px;
}
.Menu {
  display: flex;
}
.scroll {
  font-size: 50px;
  cursor: pointer;
  position: absolute;
  margin: 0;
  left: 10px;
}
.scroll:hover {
  background-color: gray;
  scale: 1.2;
  border-radius: 30%;
}
.DropDownMenu {
  width: 99.8px;
  height:950px;
  position: fixed;
  top: 60px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  gap: 15px;
}
.Menu:hover .DropDownMenu {
  display: flex;
}
.list {
  font-size: 15px;
  cursor: pointer;
}
.icons {
  font-size: 30px;
  cursor: pointer;
}
.yt {
  width: 150px;
  height: 40px;
  position: absolute;
  left: 100px;
  top: 10px;
  cursor: pointer;
}
.GoodFellas {
  width: 400px;
  position: absolute;
  top: 100px;
  left: 130px;  
  cursor: pointer;
}
.music-name1 {
  font-size: 20px;
  position: absolute;
  left: 130px;
  top: 320px;
  width: 350px;
  cursor: pointer;
  font-family: 'Nunito Sans', sans-serif;
  color: black;
}
.p1 {
  position: absolute;
  left: 130px;
  top: 370px;
}
.TudaCuProci {
  width: 400px;
  position: absolute;
  left: 580px;
  top: 100px;
  cursor: pointer;
}
.music-name2 {
  font-size: 20px;
  position: absolute;
  left: 580px;
  top: 320px;
  cursor: pointer;
  font-family: 'Nunito Sans', sans-serif;
  color: black;
}
.p2 {
  position: absolute;
  left: 580px;
  top: 350px;

}
.Ceca {
  width: 400px;
  position: absolute;
  left: 1035px;
  top: 100px;
  cursor: pointer;
}
.music-name3 {
  font-size: 20px;
  position: absolute;
  left: 1035px;
  top: 320px;
  cursor: pointer;
  font-family: 'Nunito Sans', sans-serif;
  color: black;
}
.p3 {
  position: absolute;
  left: 1035px;
  top: 350px;
}